
.back-button{
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius:4px;
    padding: 4px 24px;
    cursor:pointer;
}

body{
    --background-color:white;
    --text-color:black;
    --element-color:white;
}

body.dark{
    --background-color:hsl(207, 26%, 17%);
    --text-color:white;
    --element-color:hsl(209, 23%, 22%);
}
.countries-details-container{
    max-width:1200px;
    margin-inline:auto;
}

.country-details{
    display:flex;
    align-items:center;
    gap:50px;
    margin-top:100px;
    /* padding-left:5px; */
}


.boarder-countries a{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius:4px;
    padding: 4px 24px;
}
.boarder-countries{
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    align-items:center;
    gap:8px;
}
.country-details img{
    width:500px;
    border:1px solid #ddd;
}


.details-text{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    row-gap:12px;
    column-gap:164px;
    max-height:180px;
}

.details-text p{
    margin:0;
}

@media(max-width:840px){
    .country-details{
        
        flex-direction:column;
        align-items:flex-start;
        margin-top:32px;
        gap:16px;
    }

    .details-text{
        max-height:unset;
    }
    .country-details img{
        padding-right:24px;
        width:100%;
        max-width:400px;
    }
}